*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html{
    font-size: 10px;
    font-family:monospace;
}
:root {
  /*  Paleta de Colores  */
  --azul: #023859;
  --lila: #614EA6;
  --celeste: #79A3D9;
  --turquesa: #038C7F;
  --tturquesaclaro: #05F2AF;

  --h1: 25rem;
  --h2: 16rem;
  --h3: 14rem;
  --parrafo: 1.5rem;
}

/*estructura de la secciones*/
.background-section {
  width: 100%;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.section-body {
  max-width: 130rem;
  height: auto;
  margin: auto;
}